{% extends "kanban/base.html" %}

{% block content %}

<h1>Card Detail</h1>
<dl class="row">
  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">{{ card.title }}</dd>
  <dt class="col-sm-3">Detail</dt>
  <dd class="col-sm-9">{{ card.description }}</dd>
  <dt class="col-sm-3">List Name</dt>
  <dd class="col-sm-9">{{ card.list.title }}</dd>
  <dt class="col-sm-3">User Name</dt>
  <dd class="col-sm-9">{{ card.user.username }}</dd>
</dl>

<a class="btn btn-primary" href="{% url 'kanban:cards_update' card.pk  %}" role="button">Update</a>
<a class="btn btn-danger" href="{% url 'kanban:cards_delete' card.pk  %}" role="button">Delete</a>

{% endblock %}